* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--tl-white-200);
  padding: var(--tl-size-10) var(--tl-size-21);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: var(--tl-size-18);
  color: var(--tl-teal-900);
}
h2 {
  font-size: var(--tl-size-15);
  color: var(--tl-teal-900);
}
h3 {
  font-size: var(--tl-size-14);
  color: var(--tl-teal-900);
}
h4 {
  font-size: var(--tl-size-13);
  color: var(--tl-teal-900);
}
h5 {
  font-size: var(--tl-size-12);
  color: var(--tl-teal-900);
}
h6 {
  font-size: var(--tl-size-11);
  color: var(--tl-teal-900);
}

p {
  font-size: var(--tl-size-11);
  color: var(--tl-orange-600);
}

button {
  --tl-button-color: var(--color, #2f4f4f);

  --tl-button-transition-time: var(--transition-time, 300ms);
  --tl-button-transition-ease: var(--ease, none);
  --tl-button-transition: var(--tl-button-transition-time)
    var(--tl-button-transition-ease);

  --tl-button-shadow: var(--shadow, none);
  --tl-button-background: var(--bg, gainsboro);

  --tl-button-padding-top: var(--pt, var(--tl-size-8, 0.65rem));
  --tl-button-padding-left: var(--pl, var(--tl-size-12, 1.5rem));
  --tl-button-padding-bottom: var(--pb, var(--tl-size-8, 0.65rem));
  --tl-button-padding-right: var(--pr, var(--tl-size-12, 1.5rem));

  --tl-button-margin-top: var(--mt, var(--tl-size-2, 0px));
  --tl-button-margin-left: var(--ml, var(--tl-size-2, 0px));
  --tl-button-margin-bottom: var(--mb, var(--tl-size-2, 0px));
  --tl-button-margin-right: var(--mr, var(--tl-size-2, 0px));

  --tl-button-cursor: var(--cursor, pointer);

  --tl-button-radius-topleft: var(--radius-tl, var(--tl-radius-2, 2px));
  --tl-button-radius-topright: var(--radius-tr, var(--tl-radius-2, 2px));
  --tl-button-radius-bottomleft: var(--radius-bl, var(--tl-radius-2, 2px));
  --tl-button-radius-bottomright: var(--radius-br, var(--tl-radius-2, 2px));

  font-weight: bold;
  cursor: var(--tl-button-cursor);
  margin: var(--tl-button-margin-top) var(--tl-button-margin-right)
    var(--tl-button-margin-bottom) var(--tl-button-margin-left);
  background: var(--tl-button-background);
  border: none;
  padding: var(--tl-button-padding-top) var(--tl-button-padding-right)
    var(--tl-button-padding-bottom) var(--tl-button-padding-left);
  color: var(--tl-button-color);
  border-radius: var(--tl-button-radius-topleft)
    var(--tl-button-radius-topright) var(--tl-button-radius-bottomright)
    var(--tl-button-radius-bottomleft);
  letter-spacing: var(--tl-size-1);
  box-shadow: var(--shadow);
  outline: none;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.shadow-0 {
  --shadow: var(--tl-shadow-0);
  --shadow-transition: 300ms;
  --shadow-ease: var(--tl-ease-sine-in);
  transition: box-shadow var(--transition-time, 200ms) var(--shadow-ease);
}

.shadow-1 {
  --shadow: var(--tl-shadow-1);
  transition: box-shadow var(--transition-time, 200ms) var(--ease);
}
.shadow-2 {
  --shadow: var(--tl-shadow-2);
  transition: box-shadow var(--transition-time, 200ms) var(--ease);
}
.shadow-3 {
  --shadow: var(--tl-shadow-3);
  transition: box-shadow var(--transition-time, 200ms) var(--ease);
}
.shadow-4 {
  --shadow: var(--tl-shadow-4);
  transition: box-shadow var(--transition-time, 200ms) var(--ease);
}
.shadow-5 {
  --shadow: var(--tl-shadow-5);
  transition: box-shadow var(--transition-time, 200ms) var(--ease);
}
.shadow-6 {
  --shadow: var(--tl-shadow-6);
  transition: box-shadow var(--transition-time, 200ms) var(--ease);
}
.shadow-7 {
  --shadow: var(--tl-shadow-7);
  transition: box-shadow var(--transition-time, 200ms) var(--ease);
}
.inshadow-0 {
  --shadow: var(--tl-insetshadow-0);
  transition: box-shadow var(--transition-time, 200ms) var(--ease);
}
.inshadow-1 {
  --shadow: var(--tl-insetshadow-1);
  transition: box-shadow var(--transition-time, 200ms) var(--ease);
}
.inshadow-2 {
  --shadow: var(--tl-insetshadow-2);
  transition: box-shadow var(--transition-time, 200ms) var(--ease);
}
.inshadow-3 {
  --shadow: var(--tl-insetshadow-3);
  transition: box-shadow var(--transition-time, 200ms) var(--ease);
}

.hover\:shadow-0:hover {
  --shadow: var(--tl-shadow-0);
}
.hover\:shadow-1:hover {
  --shadow: var(--tl-shadow-1);
}
.hover\:shadow-2:hover {
  --shadow: var(--tl-shadow-2);
}
.hover\:shadow-3:hover {
  --shadow: var(--tl-shadow-3);
}
.hover\:shadow-4:hover {
  --shadow: var(--tl-shadow-4);
}
.hover\:shadow-5:hover {
  --shadow: var(--tl-shadow-5);
}
.hover\:shadow-6:hover {
  --shadow: var(--tl-shadow-6);
}
.hover\:shadow-7:hover {
  --shadow: var(--tl-shadow-7);
}
.hover\:inshadow-0:hover {
  --shadow: var(--tl-insetshadow-0);
}
.hover\:inshadow-1:hover {
  --shadow: var(--tl-insetshadow-1);
}
.hover\:inshadow-2:hover {
  --shadow: var(--tl-insetshadow-2);
}
.hover\:inshadow-3:hover {
  --shadow: var(--tl-insetshadow-3);
}

.active\:shadow-0:active {
  --shadow: var(--tl-shadow-0);
}

.move {
  transform: translateX(900px);
}

.bg-primary {
  --bg: var(--tl-teal-400);
}
.bg-success {
  --bg: var(--tl-green-400);
}
.bg-danger {
  --bg: var(--tl-red-500);
}
.bg-attention {
  --bg: var(--tl-yellow-400);
}
.bg-info {
  --bg: var(--tl-blue-400);
}

.text-primary {
  --color: var(--tl-teal-000);
}
.text-success {
  --color: var(--tl-green-000);
}
.text-danger {
  --color: var(--tl-white-000);
}
.text-attention {
  --color: var(--tl-warm-grey-600);
}
.text-info {
  --color: var(--tl-cool-grey-000);
}

.sin.in {
  --ease: var(--tl-ease-sine-in);
}
.circ.in {
  --ease: var(--tl-ease-circ-in);
}
.cubic.in {
  --ease: var(--tl-ease-cubic-in);
}
.quad.in {
  --ease: var(--tl-ease-quad-in);
}
.quart.in {
  --ease: var(--tl-ease-quart-in);
}
.quint.in {
  --ease: var(--tl-ease-quint-in);
}
.expo.in {
  --ease: var(--tl-ease-expo-in);
}
.back.in {
  --ease: var(--tl-ease-back-in);
}

.sin.out {
  --ease: var(--tl-ease-sine-out);
}
.circ.out {
  --ease: var(--tl-ease-circ-out);
}
.cubic.out {
  --ease: var(--tl-ease-cubic-out);
}
.quad.out {
  --ease: var(--tl-ease-quad-out);
}
.quart.out {
  --ease: var(--tl-ease-quart-out);
}
.quint.out {
  --ease: var(--tl-ease-quint-out);
}
.expo.out {
  --ease: var(--tl-ease-expo-out);
}
.back.out {
  --ease: var(--tl-ease-back-out);
}

.sin.inout {
  --ease: var(--tl-ease-sine-inout);
}
.circ.inout {
  --ease: var(--tl-ease-circ-inout);
}
.cubic.inout {
  --ease: var(--tl-ease-cubic-inout);
}
.quad.inout {
  --ease: var(--tl-ease-quad-inout);
}
.quart.inout {
  --ease: var(--tl-ease-quart-inout);
}
.quint.inout {
  --ease: var(--tl-ease-quint-inout);
}
.expo.inout {
  --ease: var(--tl-ease-expo-inout);
}
.back.inout {
  --ease: var(--tl-ease-back-inout);
}

.rtl-0 {
  --radius-tl: var(--tl-radius-0);
}
.rtr-0 {
  --radius-tr: var(--tl-radius-0);
}
.rbl-0 {
  --radius-bl: var(--tl-radius-0);
}
.rbr-0 {
  --radius-br: var(--tl-radius-0);
}

.r-0 {
  --radius-tl: var(--tl-radius-0);
  --radius-tr: var(--tl-radius-0);
  --radius-bl: var(--tl-radius-0);
  --radius-br: var(--tl-radius-0);
}

.r-1 {
  --radius-tl: var(--tl-radius-1);
  --radius-tr: var(--tl-radius-1);
  --radius-bl: var(--tl-radius-1);
  --radius-br: var(--tl-radius-1);
}

.r-2 {
  --radius-tl: var(--tl-radius-2);
  --radius-tr: var(--tl-radius-2);
  --radius-bl: var(--tl-radius-2);
  --radius-br: var(--tl-radius-2);
}

.r-3 {
  --radius-tl: var(--tl-radius-3);
  --radius-tr: var(--tl-radius-3);
  --radius-bl: var(--tl-radius-3);
  --radius-br: var(--tl-radius-3);
}

.r-4 {
  --radius-tl: var(--tl-radius-4);
  --radius-tr: var(--tl-radius-4);
  --radius-bl: var(--tl-radius-4);
  --radius-br: var(--tl-radius-4);
}

.r-5 {
  --radius-tl: var(--tl-radius-5);
  --radius-tr: var(--tl-radius-5);
  --radius-bl: var(--tl-radius-5);
  --radius-br: var(--tl-radius-5);
}

.r-full {
  --radius-tl: var(--tl-radius-full);
  --radius-tr: var(--tl-radius-full);
  --radius-bl: var(--tl-radius-full);
  --radius-br: var(--tl-radius-full);
}

.block {
  display: block;
}
