* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--tl-white-200);
  padding: 0 var(--tl-size-21);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: var(--tl-size-18);
  color: var(--tl-teal-900);
}
h2 {
  font-size: var(--tl-size-15);
  color: var(--tl-teal-900);
}
h3 {
  font-size: var(--tl-size-14);
  color: var(--tl-teal-900);
}
h4 {
  font-size: var(--tl-size-13);
  color: var(--tl-teal-900);
}
h5 {
  font-size: var(--tl-size-12);
  color: var(--tl-teal-900);
}
h6 {
  font-size: var(--tl-size-11);
  color: var(--tl-teal-900);
}

p {
  font-size: var(--tl-size-11);
  color: var(--tl-orange-600);
}

button {
  --hover-y: translatey(0px);
  --default-transition: 300ms var(--tl-ease-cubic-out);
  cursor: pointer;
  margin: var(--tl-size-5);
  background: var(--tl-indigo-500);
  border: none;
  padding: var(--tl-size-7) var(--tl-size-14);
  color: var(--tl-white-000);
  border-radius: var(--tl-radius-2);
  text-transform: uppercase;
  letter-spacing: var(--tl-size-1);
  box-shadow: var(--tl-shadow-1);
  transform: var(--hover-y);
  transition: box-shadow var(--default-transition),
    transform var(--default-transition);
}

button:hover {
  --hover-y: translateY(-1px);
  box-shadow: var(--tl-shadow-6);
}

.container {
  display: flex;
  margin-bottom: 100px;
}

article {
  height: 400px;
  width: 200px;
  background-image: var(--bg);
  margin: 1ch;
  border-radius: var(--tl-radius-4);
  box-shadow: var(--tl-shadow-5);
}

.box {
  --span: var(--tl-size-16);
  /* --bg: var(--tl-grey-200); */
  --shadow: ;
  --ease: var(--tl-ease-sine-in);
  --text: var(--tl-grey-800);
  --radius: var(--tl-radius-2);
  margin: var(--tl-size-6);
  border-radius: var(--radius);
  display: flex;
  height: var(--span);
  width: var(--span);
  background: var(--bg);
  box-shadow: var(--shadow);
  justify-content: center;
  align-items: center;
  color: var(--text);
  transition: all 1s var(--ease);
}

.box.s-1 {
  --shadow: var(--tl-shadow-0);
}
.box.s-2 {
  --shadow: var(--tl-shadow-1);
}
.box.s-3 {
  --shadow: var(--tl-shadow-2);
}
.box.s-4 {
  --shadow: var(--tl-shadow-3);
}
.box.s-5 {
  --shadow: var(--tl-shadow-4);
}
.box.s-6 {
  --shadow: var(--tl-shadow-5);
}
.box.s-7 {
  --shadow: var(--tl-shadow-6);
}
.box.s-8 {
  --shadow: var(--tl-shadow-7);
}
.box.s-9 {
  --shadow: var(--tl-insetshadow-0);
}
.box.s-10 {
  --shadow: var(--tl-insetshadow-1);
}
.box.s-11 {
  --shadow: var(--tl-insetshadow-2);
}
.box.s-12 {
  --shadow: var(--tl-insetshadow-3);
}

.move {
  transform: translateX(900px);
}

.primary {
  --bg: var(--tl-teal-400);
  --text: var(--tl-teal-900);
}
.success {
  --bg: var(--tl-green-400);
  --text: var(--tl-green-700);
}
.danger {
  --bg: var(--tl-red-500);
  --text: var(--tl-white-000);
}
.attention {
  --bg: var(--tl-yellow-400);
  --text: var(--tl-warm-grey-600);
}
.info {
  --bg: var(--tl-blue-400);
  --text: var(--tl-cool-grey-900);
}

.sin.in {
  --ease: var(--tl-ease-sine-in);
}
.circ.in {
  --ease: var(--tl-ease-circ-in);
}
.cubic.in {
  --ease: var(--tl-ease-cubic-in);
}
.quad.in {
  --ease: var(--tl-ease-quad-in);
}
.quart.in {
  --ease: var(--tl-ease-quart-in);
}
.quint.in {
  --ease: var(--tl-ease-quint-in);
}
.expo.in {
  --ease: var(--tl-ease-expo-in);
}
.back.in {
  --ease: var(--tl-ease-back-in);
}

.sin.out {
  --ease: var(--tl-ease-sine-out);
}
.circ.out {
  --ease: var(--tl-ease-circ-out);
}
.cubic.out {
  --ease: var(--tl-ease-cubic-out);
}
.quad.out {
  --ease: var(--tl-ease-quad-out);
}
.quart.out {
  --ease: var(--tl-ease-quart-out);
}
.quint.out {
  --ease: var(--tl-ease-quint-out);
}
.expo.out {
  --ease: var(--tl-ease-expo-out);
}
.back.out {
  --ease: var(--tl-ease-back-out);
}

.sin.inout {
  --ease: var(--tl-ease-sine-inout);
}
.circ.inout {
  --ease: var(--tl-ease-circ-inout);
}
.cubic.inout {
  --ease: var(--tl-ease-cubic-inout);
}
.quad.inout {
  --ease: var(--tl-ease-quad-inout);
}
.quart.inout {
  --ease: var(--tl-ease-quart-inout);
}
.quint.inout {
  --ease: var(--tl-ease-quint-inout);
}
.expo.inout {
  --ease: var(--tl-ease-expo-inout);
}
.back.inout {
  --ease: var(--tl-ease-back-inout);
}

.r-1 {
  --radius: var(--tl-radius-1);
}

.r-2 {
  --radius: var(--tl-radius-2);
}

.r-3 {
  --radius: var(--tl-radius-3);
}

.r-4 {
  --radius: var(--tl-radius-4);
}

.r-5 {
  --radius: var(--tl-radius-5);
}

.r-full {
  --radius: var(--tl-radius-full);
}
