:root {
  --tl-red-000: #fff3f3;
  --tl-red-100: #f8dbdb;
  --tl-red-200: #f0b7b7;
  --tl-red-300: #e99292;
  --tl-red-400: #e16e6e;
  --tl-red-500: #da4a4a;
  --tl-red-600: #c62828;
  --tl-red-700: #b22424;
  --tl-red-800: #9e2020;
  --tl-red-900: #8b1c1c;
  --tl-pink-000: #fdf1f9;
  --tl-pink-100: #f7d7ed;
  --tl-pink-200: #efafdc;
  --tl-pink-300: #e787ca;
  --tl-pink-400: #df5fb9;
  --tl-pink-500: #d737a7;
  --tl-pink-600: #cb299a;
  --tl-pink-700: #b42489;
  --tl-pink-800: #9e2078;
  --tl-pink-900: #871b67;
  --tl-purple-000: #f9f2fc;
  --tl-purple-100: #ebd9f1;
  --tl-purple-200: #d7b2e4;
  --tl-purple-300: #c28cd6;
  --tl-purple-400: #ae65c9;
  --tl-purple-500: #9941b9;
  --tl-purple-600: #8a3aa7;
  --tl-purple-700: #7a3494;
  --tl-purple-800: #6b2e82;
  --tl-purple-900: #5c276f;
  --tl-indigo-000: #f7f3ff;
  --tl-indigo-100: #e2daf5;
  --tl-indigo-200: #c4b4eb;
  --tl-indigo-300: #a78fe1;
  --tl-indigo-400: #8969d7;
  --tl-indigo-500: #6c44cd;
  --tl-indigo-600: #5b32bc;
  --tl-indigo-700: #4e2ba2;
  --tl-indigo-800: #412487;
  --tl-indigo-900: #341d6c;
  --tl-blue-000: #f0f6fa;
  --tl-blue-100: #d4e6f4;
  --tl-blue-200: #a9cce8;
  --tl-blue-300: #7eb3dd;
  --tl-blue-400: #5499d2;
  --tl-blue-500: #327fbd;
  --tl-blue-600: #2d72aa;
  --tl-blue-700: #286697;
  --tl-blue-800: #235984;
  --tl-blue-900: #1e4c71;
  --tl-teal-000: #eefcfc;
  --tl-teal-100: #d2f6f6;
  --tl-teal-200: #a1e9e9;
  --tl-teal-300: #69d2d2;
  --tl-teal-400: #2bb9b9;
  --tl-teal-500: #259e9e;
  --tl-teal-600: #218e8e;
  --tl-teal-700: #1e7e7e;
  --tl-teal-800: #1a6f6f;
  --tl-teal-900: #165f5f;
  --tl-green-000: #f3fdf6;
  --tl-green-100: #def3e3;
  --tl-green-200: #b4debd;
  --tl-green-300: #8ece9c;
  --tl-green-400: #69bd7b;
  --tl-green-500: #49a75d;
  --tl-green-600: #3d8b4e;
  --tl-green-700: #316f3e;
  --tl-green-800: #25542f;
  --tl-green-900: #18381f;
  --tl-yellow-000: #fffcee;
  --tl-yellow-100: #fdf4d2;
  --tl-yellow-200: #ffeeb1;
  --tl-yellow-300: #ffe68b;
  --tl-yellow-400: #ffdd64;
  --tl-yellow-500: #ffd53d;
  --tl-yellow-600: #ffcc16;
  --tl-yellow-700: #edba00;
  --tl-yellow-800: #c69b00;
  --tl-yellow-900: #9e7c00;
  --tl-orange-000: #fff5ed;
  --tl-orange-100: #ffe3cc;
  --tl-orange-200: #ffc798;
  --tl-orange-300: #ffac65;
  --tl-orange-400: #ff9031;
  --tl-orange-500: #fd7400;
  --tl-orange-600: #dd6600;
  --tl-orange-700: #be5700;
  --tl-orange-800: #9e4900;
  --tl-orange-900: #7f3a00;
  --tl-cool-grey-000: #e6eaec;
  --tl-cool-grey-100: #ced5d9;
  --tl-cool-grey-200: #b5c0c6;
  --tl-cool-grey-300: #9caab3;
  --tl-cool-grey-400: #8495a0;
  --tl-cool-grey-500: #6c808c;
  --tl-cool-grey-600: #5f707b;
  --tl-cool-grey-700: #516069;
  --tl-cool-grey-800: #445058;
  --tl-cool-grey-900: #364046;
  --tl-grey-000: #ededed;
  --tl-grey-100: #dcdcdc;
  --tl-grey-200: #cacaca;
  --tl-grey-300: #b8b8b8;
  --tl-grey-400: #a7a7a7;
  --tl-grey-500: #959595;
  --tl-grey-600: #808080;
  --tl-grey-700: #6a6a6a;
  --tl-grey-800: #555555;
  --tl-grey-900: #404040;
  --tl-warm-grey-000: #eae8e5;
  --tl-warm-grey-100: #d5d1cc;
  --tl-warm-grey-200: #c1bbb2;
  --tl-warm-grey-300: #aca499;
  --tl-warm-grey-400: #978d7f;
  --tl-warm-grey-500: #807668;
  --tl-warm-grey-600: #70675b;
  --tl-warm-grey-700: #60594e;
  --tl-warm-grey-800: #504a41;
  --tl-warm-grey-900: #403b34;
  --tl-black-000: #333333;
  --tl-black-100: #262626;
  --tl-black-200: #0d0d0d;
  --tl-black-300: #000000;
  --tl-white-000: #ffffff;
  --tl-white-100: #f9f9f9;
  --tl-white-200: #f2f2f2;
  --tl-white-300: #ececec;
  --tl-shadow-0: 0px 2px 4px -1px rgba(0, 0, 0, 0.05),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  --tl-shadow-1: 0px 4px 8px rgba(0, 0, 0, 0.05), 0px 3px 6px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.3);
  --tl-shadow-2: 0px 9px 17px rgba(0, 0, 0, 0.1),
    0px 3px 7px -1px rgba(0, 0, 0, 0.3);
  --tl-shadow-3: 0px 12px 20px -1px rgba(0, 0, 0, 0.05),
    0px 6px 10px rgba(0, 0, 0, 0.1), 0px 4px 10px -2px rgba(0, 0, 0, 0.2);
  --tl-shadow-4: 0px 12px 24px 3px rgba(0, 0, 0, 0.05),
    0px 8px 16px -5px rgba(0, 0, 0, 0.05), 0px 6px 12px -1px rgba(0, 0, 0, 0.15);
  --tl-shadow-5: 0px 5px 16px -11px rgba(0, 0, 0, 0.05),
    0px 2px 7px rgba(0, 0, 0, 0.04), 0px 12px 24px -2px rgba(0, 0, 0, 0.11);
  --tl-insetshadow-0: inset 0px 2px 4px rgba(0, 0, 0, 0.16),
    inset 0px 1px 2px rgba(0, 0, 0, 0.3);
  --tl-size-0: 0px;
  --tl-size-1: 0.06rem;
  --tl-size-2: 0.13rem;
  --tl-size-3: 0.19rem;
  --tl-size-4: 0.25rem;
  --tl-size-5: 0.31rem;
  --tl-size-6: 0.38rem;
  --tl-size-7: 0.5rem;
  --tl-size-8: 0.65rem;
  --tl-size-9: 0.75rem;
  --tl-size-10: 1rem;
  --tl-size-11: 1.25rem;
  --tl-size-12: 1.5rem;
  --tl-size-13: 2rem;
  --tl-size-14: 2.5rem;
  --tl-size-15: 3.87rem;
  --tl-size-16: 4.75rem;
  --tl-size-17: 6rem;
  --tl-size-18: 7.5rem;
  --tl-size-19: 9.37rem;
  --tl-size-20: 11.62rem;
  --tl-size-21: 14.5rem;
  --tl-ease-sine-in: cubic-bezier(0.12, 0, 0.39, 0);
  --tl-ease-sine-out: cubic-bezier(0.61, 1, 0.88, 1);
  --tl-ease-sine-inout: cubic-bezier(0.37, 0, 0.63, 1);
  --tl-ease-quad-in: cubic-bezier(0.11, 0, 0.5, 0);
  --tl-ease-quad-out: cubic-bezier(0.5, 1, 0.89, 1);
  --tl-ease-quad-inout: cubic-bezier(0.45, 0, 0.55, 1);
  --tl-ease-circ-in: cubic-bezier(0.55, 0, 1, 0.45);
  --tl-ease-circ-out: cubic-bezier(0, 0.55, 0.45, 1);
  --tl-ease-circ-inout: cubic-bezier(0.85, 0, 0.15, 1);
  --tl-ease-cubic-in: cubic-bezier(0.32, 0, 0.67, 0);
  --tl-ease-cubic-out: cubic-bezier(0.33, 1, 0.68, 1);
  --tl-ease-cubic-inout: cubic-bezier(0.65, 0, 0.35, 1);
  --tl-ease-quint-in: cubic-bezier(0.64, 0, 0.78, 0);
  --tl-ease-quint-out: cubic-bezier(0.22, 1, 0.36, 1);
  --tl-ease-quint-inout: cubic-bezier(0.83, 0, 0.17, 1);
  --tl-ease-quart-in: cubic-bezier(0.5, 0, 0.75, 0);
  --tl-ease-quart-out: cubic-bezier(0.25, 1, 0.5, 1);
  --tl-ease-quart-inout: cubic-bezier(0.76, 0, 0.24, 1);
  --tl-ease-expo-in: cubic-bezier(0.7, 0, 0.84, 0);
  --tl-ease-expo-out: cubic-bezier(0.16, 1, 0.3, 1);
  --tl-ease-expo-inout: cubic-bezier(0.87, 0, 0.13, 1);
  --tl-ease-back-in: cubic-bezier(0.36, 0, 0.66, -0.56);
  --tl-ease-back-out: cubic-bezier(0.34, 1.56, 0.64, 1);
  --tl-ease-back-inout: cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
